streamlit
python-dotenv
google-genai

langchain
langchain-core
langchain-community
langchain-huggingface

sentence-transformers
transformers
torch

faiss-cpu
chromadb

Pillow
opencv-python

langdetect
deep-translator

pypdf
tqdm
numpy
pandas
